*,
*::before,
*::after {
  box-sizing: border-box;
}

//Scroll
::-webkit-scrollbar-track {
  border-radius: 4px;

  overflow: hidden;
}
::-webkit-scrollbar {
  background: #e6e6e6;
  position: absolute;
  width: 6px;
  border-radius: 4px;
}
::-webkit-scrollbar:hover {
  display: block;
}
::-webkit-scrollbar-thumb {
  background-color: $accent;
  border-radius: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
  border-radius: 4px;
}

* {
  scrollbar-color: #8bc63e #e6e6e6;
  scrollbar-width: thin;
}

html {
  font-family: $primary-font-family;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.6;
  letter-spacing: 0.083em;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  @include mob {
    font-size: 2.777777vw;
    line-height: 1.5;
  }
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: $light-text;
  background-color: $dark-bg;
  font-size: 1.6rem;
  letter-spacing: 0.083em;
  background-size: 100% auto;
  background-position: top center;
  scroll-behavior: smooth;
  &.lock {
    overflow: hidden;
  }
  &.isIndexPage {
    background-image: url(@/assets/img/bg-pc.jpg);
  }
  &.isFaqPage {
    background-image: url(@/assets/img/bg-faq-pc.jpg);
  }
  @include mob {
    line-height: 1.5;
    &.isIndexPage {
      background-image: url(@/assets/img/bg-sp.jpg);
    }
    &.isFaqPage {
      background-image: url(@/assets/img/bg-faq-sp.jpg);
    }
  }
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

picture {
  display: inline-block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  max-width: 155.2rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// ui text
.h1 {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
  @include mob {
    font-size: 4rem;
  }
}

.h2 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
  @include mob {
    font-size: 2.8rem;
  }
}

.h3 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
  @include mob {
    font-size: 2.8rem;
  }
}

.accent-color {
  color: $accent;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 5.3rem;
  color: $light-text;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  letter-spacing: 0;
  &--accent {
    background-color: $accent;
    &:hover {
      background-color: #FF7A40;
    }
  }
  &--fix {
    min-width: 35rem;
    @include mob {
      min-width: auto;
    }
  }
  &--trans {
    background-color: transparent;
  }
  &--border {
    border: 1px solid $light-bg;
  }
  &--dark {
    background-color: #173B3A;
    &:hover {
      background-color: #2F7371;
    }
  }
  @include mob {
    display: flex;
    font-size: 1.6rem;
    padding: 1.6rem;
  }
}

.only-sp {
  display: none;
  @include mob {
    display: block;
  }
}
.only-pc {
  @include mob {
    display: none;
  }
}