// colors
$accent: #E9500E;
$accent-hover: #FF7A40;
$dark-text: #000000;
$light-text: #ffffff;
$dark-bg: #000000;
$light-bg: #ffffff;
$grey: #BCBCBC;

// breakpoints
$mob: 768px;

// fonts
$primary-font-family: "DIN Pro", sans-serif;

// mixins

@mixin mob {
	@media (max-width: $mob) {
		@content;
	}
}